.product img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 8px;
}
@media (max-width: 768px) {
    .product {
        width: 100%;
    }
}
body {
    padding-bottom: 80px; /* Espaço para o footer fixo */
}
button {
    padding: 12px;
    background-color: #444;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}